
spring:
  application:
    name: d-sppr-analyzer
  task:
    execution:
      pool:
        core-size: 5
        max-size: 10
        queue-capacity: 100
  rabbitmq:
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000
          max-interval: 300000
          multiplier: 2.0
        prefetch: 1


springdoc:
  swagger-ui:
    operationsSorter: method
    path: /swagger
    tags-sorter: alpha
  api-docs:
    path: /api-docs

server:
  port: 8183